.navbar {
    font-family: 'Pixelify Sans';
    font-style: thin;
    font-weight: 100;
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: black;
    z-index: 100;
    /* border-bottom: 1px dashed rgb(255, 255, 255); */
}

.nav-content {
    position: relative;  
    background: black;  
    z-index: 999;
    max-width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    z-index: 998;
    display: flex;
    justify-content: center;
    align-items: center;
}

@property  --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.navbar::after, .navbar::before {
    content:'';
    position: absolute;
    height: calc(100% + 1px);
    width: calc(100% + 1px);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    background-image: linear-gradient(0.25turn, transparent, white, transparent);
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
    animation: fadeIn 3s ease-in-out forwards;
}

.navbar::before {
    filter: blur(.5rem);
    opacity: 0.5;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes spin {
    from {
        --angle: 00deg;
    }
    to {
        --angle: -180deg;
    }
}

.nav-brand a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links a {
    margin-left: 2rem;
    text-decoration: none;
    color: #8e8e8e;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #cccccc;
}

.nav-links a.active {
    color: #e9e9e9;
    font-weight: bold;
}

@media (max-width: 600px) {
    .nav-content {
        padding: 1rem;
    }
    
    .nav-links a {
        margin-left: 1rem;
    }
}

body {
    margin: 0;
    height: 100vh;
    background: #0f0f0f;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

/* Add these new styles */
.logo-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: fillPath 10s ease forwards, float 5s infinite;
    fill: none;
    stroke: #fff;
    stroke-width: .5;
}

#logo {
    /* background-color: gray; */
    width: 75%;
    height: 6.5%;
    /* height: 50%; */
    position: fixed;
    top: 0;
    margin-top: 75px;
    z-index: 100;
}

@keyframes fillPath {
    from {
        fill: #0f0f0f;
        stroke: #fff;
    }
    10% {
        fill: #0f0f0f;
    }
    40% {
        fill: #fff;
    }
    to {
        fill: #fff;
        stroke-dashoffset: 0;
        stroke: #0f0f0f;
    }
}


@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

@keyframes appear {
    0%, 100% { opacity: 0; transform: translateZ(0) rotateX(90deg); }
    20%, 80% { opacity: 1; transform: translateZ(100px) rotateX(0); }
}