.navbar {
    
    font-family: 'Inter';
    font-style: thin;
    font-weight: 100;
    font-family: 'Pixelify Sans';
    font-size: 18px; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: black;
    z-index: 100;
    /* border-bottom: 1px dashed rgb(255, 255, 255); */
}

.nav-content {
    position: relative;  
    background: black;  
    z-index: 999;
    max-width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    z-index: 998;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.nav-links {
    display: flex;
    width: 25vw;
    justify-content: space-between; /* Spread elements evenly */
    align-items: center;
    padding-left: 0px;
    margin-left: 0px;
}

@media (max-width: 600px) {
    .nav-links {
        width: 80vw;
    }
}

@property  --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.navbar::after, .navbar::before {
    content:'';
    position: absolute;
    height: calc(100% + 1px);
    width: calc(100% + 1px);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    background-image: linear-gradient(0.25turn, transparent, white, transparent);
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
    animation: fadeIn 3s ease-in-out forwards;
}

.navbar::before {
    filter: blur(.5rem);
    opacity: 0.5;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes spin {
    from {
        --angle: 00deg;
    }
    to {
        --angle: -180deg;
    }
}

.nav-brand a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    color: #8e8e8e;
    transition: color 0.3s ease;
    margin: 0px;
}

.nav-links a:hover {
    color: #cccccc;
}

.nav-links a.active {
    color: #e9e9e9;
    font-weight: bold;
}

@media (max-width: 600px) {
    .nav-content {
        padding: 1rem;
    }
}

body {
    margin: 0;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: 'Pixelify Sans', sans-serif;
}

.logo-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: fillPath 10s ease forwards;
    fill: none;
    stroke: #fff;
    stroke-width: .5;
}

#logo {
    width: 75%;
    height: 6.5%;
    position: fixed;
    top: 0;
    margin-top: 75px;
    z-index: 1000;
    pointer-events: none;
}

@keyframes fillPath {
    from {
        fill: #0f0f0f;
        stroke: #fff;
    }
    10% {
        fill: #0f0f0f;
    }
    40% {
        fill: #fff;
    }
    to {
        fill: #fff;
        stroke-dashoffset: 0;
        stroke: #0f0f0f;
    }
}

.porfolio-container {
    position: absolute;
    top: 15vh;
    width: 40vh;
    height: 25vh;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

@media (max-width: 600px) {
    .porfolio-container {
        width: 80vw;
    }
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.portfolioImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picture-label {
    position: absolute;
    font-size: 24px;
    top: 80%; /* Position it at the bottom 20% */
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: opacity 0.3s ease;
    z-index: 999;
    /* font-family: 'Inter';
    font-style: thin;
    font-weight: 100; */
}


/* LINKS SECTION */
#linksSectionContainer {
    margin-top: 200vh;
}

.logoImage {
    height: 90%;
}

.linkSection a {
    margin-left: 10px;
    color: #333;
    text-decoration: none;
    opacity: 50%;
}

.listLinkItem {
    height: 50px;
}

.listLinkItem p {
    color: #333;
}

.headerDiv { 
    display: flex;
    float: left;
    width: 90%;
}

.container {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    padding: 20px;
    background-color: rgba(255, 255, 255, .5); /* Adjust the RGB values to match your color */
    /* margin-bottom: 20px; */
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-bottom: 20vh; */
    margin-bottom: 20vh;
}

section > * {
    opacity: 1.0;
}

h2 {
    background-color: #383838;
    width: 80vw;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.listLink {
    border: rgb(0, 0, 0) solid 2px;
    padding: 10px;
    width: 100%;
    margin: 10px;
    font-weight: bold;
    border-radius: 17px;
    text-decoration: none;
    background-color: white;
    text-align: left;
    font-size: 125%;
}

.listLinkItem {
    padding-left: 10px;
    width: 100%;
    display: flex;           
    align-items: center;     
    justify-content: left; 
}

.linkText {
    padding-left: 20px;
}

.floating-symbol {
    position: fixed;
    color: white;
    font-size: 24px;
    pointer-events: none;
    z-index: -1;
    animation: symbolFloat 3s forwards;
}

@keyframes symbolFloat {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    20% {
        opacity: 1;
        transform: scale(1.2);
    }
    80% {
        opacity: 0.8;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.8) rotate(180deg);
    }
}

.arrow-strip {
    position: absolute;
    top: 20vh;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.strip-arrow {
    color: white;
    font-size: 24px;
    opacity: 0;
    transform: scale(0);
    animation: arrowAppear 2s forwards;
}

@keyframes arrowAppear {
 
    0% {
        opacity: 0;
        transform: translateX(-100%)  scale(0);
    }
    20% {
        opacity: 0;
        transform: scale(1.2);
    }
    80% {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}