.navbar {
    
    font-family: 'Inter';
    font-style: thin;
    font-weight: 100;
    /* font-family: 'Pixelify Sans'; */
    font-size: 18px; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background: black;
    z-index: 100;
    /* border-bottom: 1px dashed rgb(255, 255, 255); */
}

.nav-content {
    position: relative;  
    background: black;  
    z-index: 999;
    max-width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    z-index: 998;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.nav-links {
    display: flex;
    width: 25vw;
    justify-content: space-between; /* Spread elements evenly */
    align-items: center;
    padding-left: 0px;
    margin-left: 0px;
}

@media (max-width: 768px) {
    .nav-links {
        width: 80vw;
    }
}


@property  --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.navbar::after, .navbar::before {
    content:'';
    position: absolute;
    height: calc(100% + 1px);
    width: calc(100% + 1px);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    background-image: linear-gradient(0.25turn, transparent, white, transparent);
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c); */
    animation: fadeIn 3s ease-in-out forwards;
}

.navbar::before {
    filter: blur(.5rem);
    opacity: 0.5;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes spin {
    from {
        --angle: 00deg;
    }
    to {
        --angle: -180deg;
    }
}

.nav-brand a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    color: #8e8e8e;
    transition: color 0.3s ease;
    margin: 0px;
}

.nav-links a:hover {
    color: #cccccc;
}

.nav-links a.active {
    color: #e9e9e9;
    font-weight: bold;
}

@media (max-width: 600px) {
    .nav-content {
        padding: 1rem;
    }
}

body {
    margin: 0;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: 'Pixelify Sans', sans-serif;
}

/* Add these new styles */
.logo-path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: fillPath 10s ease forwards, float 5s infinite;
    fill: none;
    stroke: #fff;
    stroke-width: .5;
}

#logo {
    width: 75%;
    height: 6.5%;
    position: fixed;
    top: 0;
    margin-top: 75px;
    z-index: 100;
}

@keyframes fillPath {
    from {
        fill: #0f0f0f;
        stroke: #fff;
    }
    10% {
        fill: #0f0f0f;
    }
    40% {
        fill: #fff;
    }
    to {
        fill: #fff;
        stroke-dashoffset: 0;
        stroke: #0f0f0f;
    }
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

@keyframes appear {
    0%, 100% { opacity: 0; transform: translateZ(0) rotateX(90deg); }
    20%, 80% { opacity: 1; transform: translateZ(100px) rotateX(0); }
}

.porfolio-container {
    position: absolute;
    top: 25vh;
    width: 25vh;
    height: 25vh;
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
}

.picture-caption {
    width: 100%;
    height: 25%;
    font-family: 'Pixelify Sans';
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.335);
    color: black;
}

.LandOfInfinityShot-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    z-index: 2;
}

.LandOfInfinityShot {
    position: relative;
    z-index: 1;
}


.portfolioImage {
    width: 100%;
    height: 75vw;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

/* LINKS SECTION */
#linksSectionContainer {
    margin-top: 200vh;
}

#myCanvas {
    position: fixed;  /* Force the canvas to submit to our positioning */
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;  /* Ensure it doesn't interfere with your other noble elements */
}

.logoImage {
    height: 12vw;
}

header {
    padding: 10px;
    text-align: center;
    width: 80vw;
    display: inline-block;
    justify-content: center;
    margin-bottom: 20px;
    
}

header h1 {
    margin: 5px;
    background-color: #383838;
    text-align: left;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 8vw;
}

.linkSection a {
    margin-left: 10px;
    color: #333;
    text-decoration: none;
    opacity: 50%;
}

.listLinkItem p {
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    padding: 20px;
    background-color: rgba(255, 255, 255, .5); /* Adjust the RGB values to match your color */
    /* margin-bottom: 20px; */
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* padding-bottom: 20vh; */
    margin-bottom: 20vh;
}

section > * {
    opacity: 1.0;
}

h2 {
    background-color: #383838;
    width: 80vw;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 6vw;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}

.listLink {
    border: rgb(0, 0, 0) solid 2px;
    flex-grow: 1;
    padding: 10px;
    width: 100%;
    margin: 10px;
    font-weight: bold;
    border-radius: 17px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font-size: 4vw;
}

.promocodep {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 2vw;
}

.actualcodep {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 1.5vw;
}

.linkText {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.listLinkItem {
    width: 33%;
    text-align: center;
    vertical-align: middle;
}

.headerDiv { 
    display: flex;
    float: left;
}