body {
    font-family: "Courier New", Courier, monospace;
}




/* .fadeIn {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
} */

.logoImage {
    height: 12vw;
}