body {
    font-family: "Courier New", Courier, monospace;
}

header {
    padding: 10px;
    text-align: center;
    width: 80vw;
    display: inline-block;
    justify-content: center;
    margin-bottom: 20px;
    
}

header h1 {
    margin: 5px;
    background-color: #383838;
    text-align: left;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
}

a {
    margin-left: 10px;
    color: #333;
}

#contactCard {
    display: flex;
    justify-content: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the RGB values to match your color */
    margin-bottom: 20px;
    width: 85vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    
}

section > * {
    opacity: 1.0;
}

h2 {
    background-color: #383838;
    width: 80vw;
    color: white;
    text-align: center;
    margin-top: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
}


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pulse {
    animation: pulse 1s infinite ease-in-out;
}

.listLink {
    border: rgb(0, 0, 0) solid 2px;
    flex-grow: 1;
    padding: 10px;
    width: 100%;
    margin: 10px;
    font-weight: bold;
    border-radius: 17px;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.promocodep {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.actualcodep {
    margin-top: 0px;
    padding-top: 0px;
}

.linkText {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.listLinkItem {
    width: 33%;
    text-align: center;
    vertical-align: middle;
}

.contactCardButton {
    height: 30px;
    width: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: rgb(0, 0, 0) solid 2px;
    color: rgb(0, 0, 0);
}

.headerDiv { 
    display: flex;
    float: left;
}

/* .fadeIn {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
} */

.logoImage {
    height: 12vw;
}